<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>HappyPET</title>

    <link rel="icon" href="/images/logo-icon-pet.png" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/animatoions.css" />
    <link rel="stylesheet" href="/css/page-landing.css" />
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap" rel="stylesheet">
    
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>

  </head>

  <body>
    <div id="page-landing">
        <div id="container">
            <header>
                <img 
                class="animate-up"
                id="logo" 
                src="/images/logo2.png" 
                alt="Logomarca de HappyPET" />
          
                <div class="location animate-up">
                  <strong> Sombrio </strong>
                  <p>Santa Catarina</p>
                </div>

              </header>
          
              <main>
                <h1 class="animate-up">Leve Felicidade Para o Mundo</h1>
          
                <section class="visit">
                  <p class="animate-up">Encontre a ONG mais perto de você e mude a vida de um PET.</p>
          
                  <a 
                  href="/ongs"
                  title="Visite ONGs" 
                  class="animate-up">
                    <img src="/images/arrow.svg" alt="Ir para o mapa" />
                  </a>
                </section>
              </main>

  </body>
</html>